/*
 * SPDX-FileCopyrightText: Copyright The Zephyr Project Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

&code {
	reg = <0x10000 0xfef000>;
};

&py25q128ha_memory {
	partitions {
		nvds_partition: partition@fff000 {
			compatible = "zephyr,mapped-partition";
			label = "nvds";
			reg = <0xfff000 0x1000>;
		};
	};
};
