# Copyright 2025 NXP
# Copyright 2025 SiFli Technologies(Nanjing) Co., Ltd
# SPDX-License-Identifier: Apache-2.0

config CO5300
	bool "CO5300 display driver"
	default y
	select MIPI_DSI
	depends on DT_HAS_CHIPONE_CO5300_ENABLED
	help
	  Enable driver for CO5300 display controller

config CO5300_QSPI
	bool "CO5300 QSPI display driver"
	default y
	select MIPI_DBI
	depends on DT_HAS_CHIPONE_CO5300_QSPI_ENABLED
	help
	  Enable driver for CO5300 display controller over QSPI display transport.
